
@{
    ViewData["Title"] = "Vote in an Ongoing Election";
}


@model IEnumerable<OnlineVotingSystem.Models.ViewModels.ElectionViewModel>


<div class="container mt-4">
    <div class="text-center">
        <h2 class="fw-bold"><i class="fa-solid fa-check-square"></i> Vote in an Ongoing Election</h2>
    </div>
    <hr>
    <p class="text-center font-weight-bolder">Total Rows: @Model.Count().ToString("#,##0")</p>

    <div class="table-responsive">
        <table id="sortTable" class="table table-hover table-bordered text-center align-middle">
            <thead style="background-color: #000; color: #fff;">
                <tr>
                    <th id="sortTableHeader1" class="sortTableHeader" style="width: 13%;">Election ID</th>
                    <th id="sortTableHeader2" class="sortTableHeader">Election Name</th>
                    <th id="sortTableHeader3" class="sortTableHeader" style="width: 200px;">Start Date Time</th>
                    <th id="sortTableHeader4" class="sortTableHeader" style="width: 200px;">End Date Time</th>
                    <th style="width: 20%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var election in Model)
                    {
                        <tr>
                            <td>@election.ID</td>
                            <td>@election.Name</td>
                            <td>@election.StartDateTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                            <td>@election.EndDateTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                            @if (!election.IsVoted)
                            {
                                <td>
                                    <a href="@Url.Action("SetElectionIDSession", "Voter", new { id = election.ID })" class="btn btn-primary btn-md" style="width: 200px;">
                                        <i class="fa-solid fa-check-to-slot" style="margin-right: 5px;"></i> Vote in this Election
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td style="width: 27%;">
                                    <a href="@Url.Action("YourVotingHistory", "Voter", new { electionId = election.ID })" class="btn btn-success btn-md" style="width: 200px;">
                                        <i class="fa-solid fa-eye" style="margin-right: 5px;"></i> You already voted. View Your Vote
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center fw-bold text-muted">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>