
@{
    ViewData["Title"] = "Your Voting History";


    string fromDateValue = Context.Request.Query.ContainsKey("fromDate")
        ? Context.Request.Query["fromDate"].ToString()
        : DateTime.Now.AddMonths(-12).ToString("yyyy-MM-dd");

    string toDateValue = Context.Request.Query.ContainsKey("toDate")
        ? Context.Request.Query["toDate"].ToString()
        : DateTime.Now.ToString("yyyy-MM-dd");

}


@model IEnumerable<OnlineVotingSystem.Models.ViewModels.Voter.VotedHistoryViewModel>


<div class="container mt-4">
    <div class="text-center">
        <h2 class="fw-bold"><i class="fa-solid fa-clock-rotate-left"></i> Your Voting History</h2>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-between align-items-end mb-3">
                <form method="get" asp-action="YourVotingHistory" asp-controller="Voter" class="row g-2 w-100">
                    <div class="col-12 col-sm-12 col-md-3">
                        <label for="fromDate" class="form-label">From Date:</label>
                        <input type="date" id="fromDate" name="fromDate" class="form-control" value="@fromDateValue">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3">
                        <label for="toDate" class="form-label">To Date:</label>
                        <input type="date" id="toDate" name="toDate" class="form-control" value="@toDateValue">
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 d-flex align-items-end mt-3">

                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-search" style="margin-right: 5px;"></i> Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <p class="text-center font-weight-bolder">Total Rows: @Model.Count().ToString("#,##0")</p>

    <div id="sortTable" class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead style="background-color: #000; color: #fff;">
                <tr>
                    <th id="sortTableHeader1" class="sortTableHeader">Election Name</th>
                    <th id="sortTableHeader2" class="sortTableHeader">Election Status</th>
                    <th id="sortTableHeader3" class="sortTableHeader">Candidate Name</th>
                    <th id="sortTableHeader4" class="sortTableHeader">Date Time Voted</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var voted in Model)
                    {
                        string backgroundColor = "";
                        string textColor = "";
                        if (voted.ElectionStatus == "Upcoming")
                        {
                            backgroundColor = "yellow";
                            textColor = "black";
                        }
                        else if (voted.ElectionStatus == "Ongoing")
                        {
                            backgroundColor = "blue";
                        }
                        else if (voted.ElectionStatus == "Completed")
                        {
                            backgroundColor = "green";
                        }

                        if (voted.ElectionStatus == "Ongoing" || voted.ElectionStatus == "Completed") textColor = "white";

                        <tr>
                            <td>@voted.ElectionName</td>
                            <td style="background-color: @backgroundColor; color : @textColor;">@voted.ElectionStatus</td>
                            <td>@voted.CandidateName</td>
                            <td>@voted.DateTimeVoted.ToString("MM/dd/yyyy hh:mm tt")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center fw-bold text-muted">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>